.nav-archive{
  margin: 2rem 0;
  li{
  font-size: .8rem;
  list-style: none;
  display: inline-block;
    a{
      border-bottom-color: transparent;
      font-family: $code-font-family;
      color: $li-link-color;
      &:hover{
        color: darken($li-link-color, 20%);
        border-bottom: 0;
      }
    }
  }
  li ~ li::before{
    content: '/';
    padding: 0 10px;
    color: $gray-1;
  }
}
.archive-list{
  ul{
    padding-left: 0;
    li a{
      border-bottom-color: transparent;
      &:hover{
        border-bottom-color: $li-link-color-border;
      }
    }
  }
  li{
  list-style: none;
  margin: 0 0 1rem;
  }
  time{
    font-size: 0.8rem;
    color: $gray-2;
  }
  time::after{
    content: "-";
    margin:0 .25rem;
    color: $gray-1;
  }
}
