#home{
  .hero{
    background: $body-bg-alter;
    min-width: 100%;
    height: calc(100vh - 70px);
    padding-top: calc((50vh - 70px) - 7rem)
  }
  .title{
    font-weight: bold;
    font-size: 2.2rem;
  }
  .glitch::after, .glitch::before{
    background: $body-bg-alter;
  }
  .bottom{
    font-size: 14px;
    color: $gray-1;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    bottom: 1.5rem;
    left: 50%;
    margin-left: -34.29px;
    &:hover{
      color: darken($gray-1, 20%);
    }
    svg{
      margin-top: -3px;
      width: 18px;
      vertical-align: middle;
    }
  }
  #about{
    padding-top: 2rem;
  }
  h1, h2{
    margin: 0;
  }
  h3, p, ul{
    text-align: center;
  }
  p a{
    border-bottom-color: $li-link-color-border;
    &:hover{
      border-bottom-color: inherit;
    }
  }
  ul{
    list-style: none;
    li{
      display: inline-flex;
      font-family: $code-font-family;
      padding: 0;
      font-size: .8rem;
      color: $gray-3;
      a{
        background-color: #f9f9f9;
        color: $li-link-color;
        border-bottom: 0;
        border-radius: 3px;
        padding: .25em .5em;
        line-height: middle;
        &:hover{
          color: darken($li-link-color, 20%);
          border-bottom: 0;
        }
        &:first-child{
          margin-top: -5px;
        }
      }
    }
    li ~ li::before{
      content: '/';
      padding: 0 10px;
      color: $gray-1;
    }
  }
  hr{
    margin: 3rem 0;
  }
}
