.footer{
  min-width: 100% !important;
  background: $body-bg-alter;
  padding: 3rem;
  margin-top: 4rem;
  text-align: center;
  color: $gray-3;
  ul{
    text-align: center;
    margin-bottom: 1rem;
    li{
      display: inline-block;
      padding: 0;
      font-size: .8rem;
      a{
        border-bottom: 0;
        &:hover{
          color: darken($gray-4, 20%);
          border-bottom: 0;
        }
      }
    }
    li ~ li::before{
      content: '/';
      padding: 0 5px;
      color: $gray-1;
    }
  }
  .feather{
    bottom: -7px;
    position: relative;
  }
}
