// Header
//
// Super small header above the content for site name and short description.

header {
  height: 70px !important;
  padding: 11.5px 0 0;
  overflow: hidden;
  overflow-x: auto;
  nav{
    width: $nav-breakpoint;
    .glitch{
      padding: 0 10px;
      font-size: 30px;
      text-transform: capitalize;
      border: 1px solid $gray-3;
    }
    .glitch::after, .glitch::before{
      padding: 0 .5rem;
    }
    ul{
      text-transform: lowercase;
      padding: 0 0 0 1.5rem;
      margin: 0;
      li{
        vertical-align: middle;
        display: inline-block;
        padding-right: 1rem;
        list-style: none;
        font-size: 20px;
        &:last-child{
          padding-right: 0;
        }
        a{
          background: transparent;
          color: $gray-4;
          padding: 0;
          border-radius: 0;
          border-bottom: 0;
          &:hover{
            color: $gray-4;
            border-bottom: 2px solid $gray-4;
          }
        }
      }
    }
  }
  .active{
    border-bottom: 2px solid;
  }
}
.sub-header{
  background: $body-bg-alter;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  .inline-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between !important;
    h1{
      margin: 0;
    }
    ul{
      align-self: center;
      text-align: right;
      list-style: none;
      margin: 0;
      li{
        display: inline-flex;
        font-family: $code-font-family;
        padding: 0;
        font-size: .8rem;
        color: $gray-2;
        a{
          color: $li-link-color;
          border-bottom: 0;
          border-radius: 3px;
          padding: .25em .5em;
          line-height: middle;
          &:hover{
            color: darken($li-link-color, 20%);
            border-bottom: 0;
          }
          &:first-child{
            margin-top: -5px;
          }
        }
      }
      li ~ li::before{
        content: '/';
        padding: 0 10px;
        color: $gray-1;
      }
    }
  }
}
