// Header
//
// Super small header above the content for site name and short description.

header {
  height: 70px !important;
  padding: 0 1.5rem 0;
  display: flex;
  nav{
    .glitch{
      padding: 0 10px;
      font-size: 30px;
      text-transform: capitalize;
      border: 1px solid $gray-3;
    }
    .glitch::after, .glitch::before{
      padding: 0 .5rem;
    }
    ul{
      text-transform: lowercase;
      padding: 0;
      margin: 11.5px 0 0;
      li{
        vertical-align: middle;
        display: inline-block;
        padding-right: 1rem;
        list-style: none;
        font-size: 20px;
        a{
          background: transparent;
          color: $gray-4;
          padding: 0;
          border-radius: 0;
          border-bottom: 0;
          &:hover{
            color: $gray-4;
            border-bottom: 2px solid $gray-4;
          }
        }
      }
      .subnav{
        display: inline-block;
        margin-bottom: 0;
        li{
          font-family: $code-font-family;
          font-size: .8rem;
          padding: 0;
          a{
            font-weight: normal;
            color: $gray-3;
          }
        }
        li ~ li::before{
          content: '/';
          padding: 0 10px;
          color: $gray-1;
        }
      }
    }
    .active{
      border-bottom: 2px solid;
    }
  }
}

.masthead-title {
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: $gray-4;

  a {
    color: inherit;
    text-decoration: none;
  }
}
