// Header
//
// Super small header above the content for site name and short description.

.header{
  height: 100px !important;
  background: $body-bg;
  overflow: hidden;
  overflow-x: auto;
  &.invert{
    background: $body-bg-alter;
  }
  nav{
    position: relative;
    min-width: 100%;
    z-index: 10;
    a.home{
      padding: .8rem;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: normal;
      line-height: 1;
      border: 1px solid;
      border-radius: 3px;
      box-shadow: 4px 5px 0 0 #bcbcbc;
      &:hover, &:active, &:focus{
        transition: all 0.3s ease;
        border-color: $color-one;
        color: $color-one;
        border: 1px solid $color-one;
        box-shadow: 0 0 1px rgba(39,44,49,0.1),0 3px 16px rgba(39,44,49,0.07);
        transform: translate3D(0, -1px, 0);
      }
    }
    ul{
      display: flex;
      padding: 0;
      line-height: 100px;
      font-weight: bold;
      text-transform: uppercase;
      vertical-align: middle;
      margin: 0;
      li{
        letter-spacing: .25em;
        margin-right: 1.5rem;
        list-style: none;
        font-size: 14px;
        &:last-child{
          margin-right: 0;
          padding-right: 1.5rem;
        }
        a{
          color: $gray-4;
          border-bottom: 0;
          &:hover{
            color: $color-one;
          }
        }
      }
    }
  }
  .active{
    color: $color-one;
  }
}
.sub-header{
  background: $body-bg-alter;
  padding: 2.5rem 0 2.5rem 0;
  .title{
    font-weight: bold;
    text-transform: lowercase;
    font-size: 2.2rem;
    .glitch-text::after, .glitch-text::before{
      background: $body-bg-alter;
    }
  }
  .inline-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between !important;
    h1{
      margin: 0;
    }
    ul{
      align-self: center;
      text-align: right;
      list-style: none;
      margin: 0;
      li{
        display: inline-flex;
        font-family: $code-font-family;
        padding: 0;
        font-size: .8rem;
        color: $gray-2;
        a{
          color: $li-link-color;
          border-bottom: 0;
          border-radius: 3px;
          padding: .25em .5em;
          line-height: middle;
          &:hover{
            color: darken($li-link-color, 20%);
            border-bottom: 0;
          }
          &:first-child{
            margin-top: -5px;
          }
        }
      }
      li ~ li::before{
        content: '/';
        padding: 0 10px;
        color: $gray-1;
      }
    }
  }
}
