#projects{
  .post-card {
    padding: 1rem 0 0;
    min-height: 100px;
    a{
      border-bottom: 0;
    }
  }
  .card-image-link {
    img{
      width: 70px;
      height: 70px;
      border-radius: 3px;
      margin: 0 auto;
    }
  }
  .post-card-content {
    padding: 1rem;
    text-align: center;
  }
  .icons{
    a{
      color: $gray-4;
      &:hover{
        color: $color-one;
      }
    }
  }
}
