.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 0 0 0;
}

.post-card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  min-height: 300px;
  background: #fff center center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0 0 1px rgba(39,44,49,0.10), 0 3px 16px rgba(39, 44, 49,0.07);
    transition: all 0.3s ease;
    transform: translate3D(0, -1px, 0);
  }
  a{
    border-bottom: 0;
  }
}
.post-card-image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.post-card-image {
  width: auto;
  height: 200px;
}
.post-card-content-link {
  position: relative;
  display: block;
  padding: 25px 25px 0;
  color: var(--darkgrey);
  &:hover {
    text-decoration: none;
  }
}
.post-card-tags {
  display: block;
  margin-bottom: 4px;
  color: var(--midgrey);
  font-size: 1.2rem;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.post-card-title {
  margin-top: 0;
}
.post-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-card-meta {
  padding: 0 25px 25px;
}
