---
layout: default
title: Tags
submenu: true
---
<nav>
  {% for category in site.tags %}
  <li><a href="#{{ category | first | replace: ' ','-' }}">{{ category | first }}</a></li>
  {% endfor %}
</nav>

{% for category in site.tags %}
    <div class="catbloc" id="{{ category | first | replace: ' ','-' }}">
        <h2>{{ category | first }}</h2>
        <ul>
           {% for posts in category %}
             {% for post in posts %}
               {% if post.url %}
                 <li>
                   <time>{{ post.date | date: "%-d %B %Y" }}</time>
                   <a href="{{ post.url }}">
                     {{ post.title }}
                   </a>
                 </li>
               {% endif %}
             {% endfor %}
           {% endfor %}
        </ul>
    </div>
{% endfor %}
