{% assign pages_list = site.pages | uniq: "title" | sort: "in_nav" %}
<header class="header{% if page.nav_invert %} invert{% endif %}">
  <div class="container">
    <nav>
      <ul>
        <li><a class="home" href="{{site.baseurl}}/">GH</a></li>
          {% for node in site.data.navigation %}
            <li><a {% if page.title == node[1].title %}class="active"{% endif %} href="{{ node[1].url }}" target="{{node[1].target}}">{{ node[1].title }}</a></li>
          {% endfor %}
      </ul>
    </nav>
  </div>
</header>
{% if page.title != "Home" %}
  <div class="sub-header{% if page.layout == "post" %} header-post{% endif %}"{% if page.layout == "post" %}style="background-image: url({{ site.baseurl }}{{ page.cover }})"{% endif %}>
    <div class="container">
      {% if page.layout == "post"%}
        <h1>
          {{page.title}}<br>
          <div class="heading-sub">
            <a href="{{site.baseurl}}/{{ page.date | date: "%Y/%m/%d" }}"><time datetime="{{ page.date | date: "%d/%m/%Y" }}">{{ page.date | date: "%b %d, %Y" }}</time></a>
            {% for node in page.categories %}
              <a href="{{site.baseurl}}/{{ node | replace: ' ','-' }}">{{ node }}</a>
            {% endfor %}
          </div>
        </h1>
      {% else %}
        <div class="inline-header">
          {% case page.type %}
            {% when 'year' %}
                 <h1 class="title"><div class="glitch-text" data-text="{{ page.date | date: "%Y" }}">{{ page.date | date: "%Y" }}</div></h1>
            {% when 'month' %}
                 <h1 class="title"><div class="glitch-text" data-text="{{ page.date | date: "%m/%Y" }}">{{ page.date | date: "%m/%Y" }}</div></h1>
            {% when 'day' %}
                <h1 class="title"><div class="glitch-text" data-text="{{ page.date | date: "%d/%m/%Y" }}">{{ page.date | date: "%d/%m/%Y" }}</div></h1>
            {% else %}
               <h1 class="title"><div class="glitch-text" data-text="{{ page.title }}">{{ page.title }}</div></h1>
          {% endcase %}
          {% if page.submenu or page.layout == "archive" or page.layout == "tag" %}
            <ul>
              <li><a href="{{ site.baseurl }}/archive">archive</a></li>
              <li><a href="{{ site.baseurl }}/tags">tags</a></li>
              <li><a href="{{ site.baseurl }}/search">search</a></li>
            </ul>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
