#home{
  h2{
    margin: 0 0 15vh;
  }
  h3, p, ul{
    text-align: center;
  }
  ul{
    list-style: none;
    li{
      display: inline-flex;
      font-family: $code-font-family;
      padding: 0;
      font-size: .8rem;
      color: $gray-2;
    }
    li ~ li::before{
      content: '/';
      padding: 0 10px;
      color: $gray-1;
    }
  }
  hr{
    margin: 3rem 0;
  }
}
