// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  nav{
    ul{
      text-transform: lowercase;
      padding: 0;
      li{
        display: inline;
        padding-right: 1rem;
        list-style: none;

        a{
          font-size: 0.90rem;
          font-weight: bold;
          color: $gray-4;
        }
      }
    }
    .active{
      color: $gray-5;
    }
  }
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: $gray-5;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.glitch {
  position: relative;
  width: auto;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(9px, 9999px, 99px, 0);
  }
  5% {
    clip: rect(42px, 9999px, 11px, 0);
  }
  10% {
    clip: rect(32px, 9999px, 50px, 0);
  }
  15% {
    clip: rect(1px, 9999px, 38px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  25% {
    clip: rect(9px, 9999px, 62px, 0);
  }
  30% {
    clip: rect(50px, 9999px, 48px, 0);
  }
  35% {
    clip: rect(78px, 9999px, 79px, 0);
  }
  40% {
    clip: rect(68px, 9999px, 43px, 0);
  }
  45% {
    clip: rect(20px, 9999px, 84px, 0);
  }
  50% {
    clip: rect(65px, 9999px, 96px, 0);
  }
  55% {
    clip: rect(89px, 9999px, 32px, 0);
  }
  60% {
    clip: rect(63px, 9999px, 9px, 0);
  }
  65% {
    clip: rect(88px, 9999px, 60px, 0);
  }
  70% {
    clip: rect(48px, 9999px, 1px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(7px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 24px, 0);
  }
  90% {
    clip: rect(75px, 9999px, 18px, 0);
  }
  95% {
    clip: rect(82px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 58px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 3px;
  text-shadow: -1.2px 0 #f0f;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(72px, 9999px, 63px, 0);
  }
  5% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(34px, 9999px, 67px, 0);
  }
  15% {
    clip: rect(5px, 9999px, 61px, 0);
  }
  20% {
    clip: rect(97px, 9999px, 52px, 0);
  }
  25% {
    clip: rect(51px, 9999px, 93px, 0);
  }
  30% {
    clip: rect(81px, 9999px, 85px, 0);
  }
  35% {
    clip: rect(70px, 9999px, 40px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 79px, 0);
  }
  45% {
    clip: rect(23px, 9999px, 97px, 0);
  }
  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }
  55% {
    clip: rect(98px, 9999px, 27px, 0);
  }
  60% {
    clip: rect(85px, 9999px, 75px, 0);
  }
  65% {
    clip: rect(12px, 9999px, 6px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 77px, 0);
  }
  75% {
    clip: rect(85px, 9999px, 18px, 0);
  }
  80% {
    clip: rect(92px, 9999px, 69px, 0);
  }
  85% {
    clip: rect(90px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(30px, 9999px, 8px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 19px, 0);
  }
  100% {
    clip: rect(89px, 9999px, 89px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1.8px 0 #0ff;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
