$gray-1: #565656;
$gray-2: #484848;
$gray-3: #393939;
$gray-4: #2b2b2b;
$gray-5: #1c1c1c;
// #565656
// #484848
// #393939
// #2b2b2b
// #1c1c1c

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
$brown: #8f5536;

$root-font-family: Athelas, Georgia, serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$list-font: "Roboto Mono", monospace;

$body-color: $gray-3;
$body-bg: #fff;
$link-color: darken($blue, 9%);

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;
