$gray-1: #bcbcbc;
$gray-2: #484848;
$gray-3: #393939;
$gray-4: #2b2b2b;
$gray-5: #1c1c1c;
// #565656
// #484848
// #393939
// #2b2b2b
// #1c1c1c

$blue: #5AE8FD;
$pink: #FC5AE7;

$h-font: Athelas, Georgia, serif;

$root-font-family: 'Source Sans Pro', sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: $gray-3;
$body-bg: #fff;
$link-color: darken($blue, 9%);

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$code-color: #bf616a;
