---
layout: default
auto_container: false
---
{% if page.title != "Tags" %}
<div class="tag">
  <div class="container">
    <div class="post-feed">
      {% for post in page.posts %}
          <article class="post-card {{ page.class }}{% unless post.cover %} no-image{% endunless %}">
              {% if post.cover %}
                  <a class="post-card-image-link" href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}">
                      <div class="glitch-img post-card-image">
                        <div class="glitch__img" style="background-image: url({{ site.baseurl }}{{ post.cover }})"></div>
                        <div class="glitch__img" style="background-image: url({{ site.baseurl }}{{ post.cover }})"></div>
                        <div class="glitch__img" style="background-image: url({{ site.baseurl }}{{ post.cover }})"></div>
                        <div class="glitch__img" style="background-image: url({{ site.baseurl }}{{ post.cover }})"></div>
                        <div class="glitch__img" style="background-image: url({{ site.baseurl }}{{ post.cover }})"></div>
                      </div>
                  </a>
              {% endif %}
              <div class="post-card-content">
                  <a class="post-card-content-link" href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}">
                      <header class="post-card-header">
                          <h3 class="post-card-title">{{ post.title }}</h3>
                      </header>
                      <section class="post-card-excerpt">
                          <p>{{ post.content | strip_html | truncatewords: 23, "" }}...</p>
                      </section>
                  </a>
                  <footer>
                    {% if post.categories %}
                      <span>
                        <ul>
                          {% for category in post.categories %}
                            <li><a href="{{site.baseurl}}/{{category}}">{{category}}</a></li>
                          {% endfor %}
                        </ul>
                      </span>
                    {% endif %}
                  </footer>
              </div>
          </article>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
  {{content}}
{% endif %}
